table {
    margin: 0 auto;
}

.table-container {
    margin: 0 auto;
    width: 40%;
}

.left-header,
.top-header,
.empty {
    color: #999;
    border: 2px solid #999;
}

td {
    text-align: center;
    height: 30px;
    width: 30px;
}

.data {
    color: #448;
    border: 2px solid #448;
}

.add-columns {
    position: absolute;
    top: 20%;
    left: 70%;
}

.add-rows {
    display: block;
    margin: 5% auto;
    width: 15%;
}